/*使用@import 加入網頁字體 他會很lag...*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/

/*main*/
body {
    font-family: 'Arimo', 'Microsoft JhengHei', sans-serif;
    color: #CC7704;
    font-weight: 300;
}
.h2, h2 {
    font-size: 1.5rem;
}
.h4, h4 {
    font-size: 1rem;
    margin: .2em;
    color: #777;
}

.h6, h6 {
    font-size: .8rem;
}
p{
    color: #333;
    font-family: inherit;
}

img {
    max-width: 100%;
}

img.img-responsive {
    position: relative;    
    width: 100vw;
    box-shadow: 2px 2px 3px #333;
}

button {
    margin: .5em;
    box-shadow: 1px 1px 1px #333;
    cursor: pointer;
}

button:focus {
    outline: 0;
    border: none;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
}

a {
    color: #699;
}

a:hover {
    color:#d94f5c;
    
    /*#FF7800;*/
}


 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#AAA !important;}
 input::-moz-placeholder, textarea::-moz-placeholder           {color:#AAA !important;}
 input::-ms-input-placeholder, textarea::-ms-input-placeholder      {color:#AAA !important;}

/*bootstrap*/

.row {
    margin-bottom: .2em;
    width: 100%;
}



.col-sm-4,
.col-sm-6 {
    margin-bottom: 1.2em;
}


/*button*/

.btn-show {
    margin: .5em;
    background-color: #FF7800;
    color: #fff;
    box-shadow: 1px 1px 2px #333;
}

.btn-show:hover,
.btn-show:active,
.btn-show:focus {
    background-color: #F30;
    color: #fff;
}

.lang {
    width: 100%;
    display: block;
    height: 50px;

}

.btn-main {
    width: 90px;
    height: 35px;
    display: block;
    line-height: 1rem;
    padding: .1em; 
    font-family: inherit;       
}

.btn-main:focus,
.btn-main:active {
    background-color: #23527C;
    color: #fff;
}

.btn-main:hover {
    background-color: #8CBBBB;
    color: #EEE;
}


/*text*/

.text-muted {
    color: #8CBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.href {
    cursor: pointer;
}

.href:hover {
    opacity: .8;
}


/*body framework*/
.banner {
    margin-bottom: 1.5rem;
}

.job {
    height: 100px;
}

.modal-body p {
    padding: .5rem;
}

p#aboutMe{
   padding: .3em 3em 0 .5em;
   margin-top: .2em;
   font-family: 'Times', 'cwtexfangsong', 'Ms Mincho', serif;
   font-size: 1.5em;
   text-indent: 2em; /*em是相對單位，2em即现在一個字大小的兩倍*/    
}


.gotop {
    display: none;
    position: fixed;
    right: .5em;
    bottom: 1em;
    padding: .6em .8em;
    font-size: 1.5em;
    border-radius: 2em;
    background: rgba(45, 45, 45, .4);
    color: white;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 2em;
    line-height: 2em;
    color: gray;
    font-style: italic;
}



.info{
    background: url(../img/info.png);
    background-size: contain;
    position: absolute;
    float: left;
    top: .5em;
    right: 1.5em;
    width: 1.5em;
    height: 1.5em;
}
.inner{
    top: 1.5em;
}
.info:hover{
    background:  url(../img/infoR.png);
    background-size: contain;
}

/*effect*/

body.modal-open {
    overflow: visible;
}
body.modal-open .blur {
    -webkit-filter: blur(3px) contrast(.8) brightness(.8);
    -moz-filter: blur(3px) contrast(.8) brightness(.8);
    -o-filter: blur(3px) contrast(.8) brightness(.8);
    -ms-filter: blur(3px) contrast(.8) brightness(.8);
    filter: blur(3px) contrast(.8) brightness(.8);
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 1.25s linear;
    -moz-transition: opacity 1.25s linear;
    -ms-transition: opacity 1.25s linear;
    -o-transition: opacity 1.25s linear;
    transition: opacity 1.25s linear;
}

body.modal-open .none {
    display: none;
    background: none;
    font-size: none;
}


/*tooltip*/

.tooltip {
    position: absolute;
    width: 180px;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: .1em .2em;
    z-index: 1;
    top: 100%;
    left: 100%;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 0;
}

.tooltip.right .tooltip-arrow:before {
    border-color: transparent #000 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    right: -5px;
    /* 必須指定，才能顯示內容 */
    content: '';
    height: 0px;
    /* 必須指定，否則會變梯形 */
    position: absolute;
    width: 0px;
}

.tooltip.right .tooltip-arrow:after {
    border-color: transparent #fff transparent transparent;
    border-style: solid solid;
    border-width: 5px;
    right: -7px;
    /* 必須指定，才能顯示內容 */
    content: '';
    height: 0px;
    /* 必須指定，否則會變梯形 */
    position: absolute;
    width: 0px;
}

.tooltip-inner {
    min-width: 18em;
    height: 3rem;
    color: #000;
    background: #fff;
    border: solid 1px #333;
    border-radius: .8em;
}


/*menu*/

.phone-bar {
    color: #CC7704;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 1px solid #CC7704;
    line-height: 2.2em;
    text-align: center;
    margin-top: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.menu__list-s {
    display: none;
    width: 100%;
    padding: 10px 0px;
    text-align: right;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
}


li {
    font-size: 1em;
    line-height: 1.2em;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*RWD*/
@media (min-width: 769px) {
    .container{
        width: 100%;
        min-width: 769px !important;
    }
    
}


@media only screen and (max-width: 769px) {

    /*main*/


    .container {
        width: 100%;

    }    
    .row {
        width: 100vw;
    }

    li {
        font-size: 1.2em;
        line-height: 1.5em;
        margin: .8em;
        border-bottom: 1px solid #333;
    }
    li:hover{
        border-bottom: 1px solid #d94f5c;   
    }

    .banner,
    .text-title h1,
    .text-title h3 {
        display: none;
    }

    /*menu*/
    ul.menu__list {
        display: none !important;
    }
    .phone-bar {
        font-size: 1.2em;
        float:right;
        display: block;
        margin-top: 60px;
    }  
    .menu__list-s {
        width: 64vw;
        position: relative;
        margin-top: 120px;
    }


    p#aboutMe{
        padding: .1em;
    }

    footer, .footer {
        width: 100vw;
        text-align: center;
    }

}    
    @media only screen and (max-width: 450px) {
       
    .phone-bar {
        font-size: 1.2em;
        float:right;
        display: block;
        margin-top: -50px; /*由於上面的東西被隱藏 很空 所以這個漢堡包往上一點*/
    }
    .menu__list-s {
        width: 96vw;
        position: relative;
        margin-top: 0;
    }             
    footer {
        font-size: smaller;
    }
    
    .tooltip-inner {
        min-height: 50px;
        width: 100px;
    }    

    }
